body {
}

.wrapper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
