body {
}

#__next {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  white-space: pre-line;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
